/*variables*/
$orange: #F36E21;
$darkOrange: #ef5902;
$white: #fff;
$lightGray: #EEE;
$lightBlue: rgba(8, 157, 227, .9);

$bShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

body{
	background: $lightGray;
}
body p{
	font-size: 1em;
}
header{
	color: #FFF;
	background: $orange;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;  
	box-shadow: $bShadow;
}
h1{
	margin: 0;
	font-size: 1.6em ;
	float: left;
}
.login-buttons-dropdown-align-{
	float: right;
}
.login-buttons-dropdown-align- {
	.login-link-text{
		color: #fff;
	    text-decoration: none;
	}
}
.accounts-dialog{
	margin-left: -180px;
}
.accounts-dialog a:hover{
	color: $orange;
}
#login-buttons .login-button, .accounts-dialog .login-button{
	background: $orange;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
	background: $darkOrange;
}
.wrapper{
	margin-top: 60px;
	padding: 50px 100px;
	clear: both;
}

/* -----STYLE FOR INTRO STARTS----- */
.wrap-intro, .wrap-chat, .wrap-peopleOnline{
	display: inline-block;
	height: 400px;
}
.wrap-chat, .wrap-peopleOnline{
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.wrap-intro{
	width: 100%;
}
.challenge{
	padding: 10px;
	margin-bottom: 10px;
	background: #CFD8DC;
	height: 50px;
	animation: bounce 2s linear infinite;
}
.challenge p{
	display: inline-block;
	float: left;
	font-size: 1.3em;
	padding-top: 5px;
}
@keyframes bounce {
	0% {
		transform:translateY(-100%);
		opacity: 0;
	}
	5% {
		transform:translateY(-100%);
		opacity: 0;
	}
	15% {
		transform:translateY(0);
		padding-bottom: 5px;
	}
	30% {
		transform:translateY(-50%);
	}
	40% {
		transform:translateY(0%);
		padding-bottom: 6px;
	}
	50% {
		transform:translateY(-30%);
	}
	70% {
		transform:translateY(0%);
		padding-bottom: 7px;
	}
	80% {
		transform:translateY(-15%);
	}
	90% {
		transform:translateY(0%);
		padding-bottom: 8px;
	}
	95% {
		transform:translateY(-7%);
	}
	97% {
		transform:translateY(0%);
		padding-bottom: 9px;
	}
	99% {
		transform:translateY(-3%);
	}
	100% {
		transform:translateY(0);
		padding-bottom: 9px;
		opacity: 1;
	}
}
.challenge:hover{
	animation: none;
}
.accept, .deny{
	border-radius: 5px;
	padding: 5px 20px;
	width: 145px;
	color: white;
	text-align: center;
	float: right;
	margin: 0px 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
	cursor: pointer;
}
.accept{
	background: #1BB13E;
}
.accept:hover{
	background: #117027;
}
.deny{
	background: #C13939;
}
.deny:hover{
	background: #962b2b;
}

/* -----STYLE FOR INTRO ENDS----- */

/* -----STYLE FOR CHAT STARTS----- */
.wrap-chat{
	width: 58%;
	float: left;
	background: #CFD8DC;
}
.wrap-messages{
	height: 280px;
	overflow-y: overlay;
	background: white;
	border: solid 1px #c6c6c6;
	padding:10px;
}
.new-message input{
	width: 100%;
	padding: 20px;
	margin-top: 3px;
}
.wrap-message{
	width: 100%;
	display: block;
	clear: both;
}
.chat-message{
	background-color: $lightGray;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
}
.chat-message::first-letter{
	text-transform: uppercase;
}
.own-message{
	color: white;
	background-color: $lightBlue;
	text-align: right;
	float: right;
}
/* -----STYLE FOR CHAT ENDS----- */

/* -----STYLE FOR PEOPLE ONLINE STARTS----- */
.wrap-peopleOnline{
	width: 40%;
	float: right;
	background: /*rgba(0, 204, 0, .35)*/ /*rgb(142, 210, 201)*/ #CFD8DC;
}
.people-online{
	height: 322px;
	overflow-y: overlay;
}
.wrap-user-online, .wrap-play{
	padding: 12px 20px 4px 20px;
	margin-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: inline-block;
}
.wrap-user-icon{
	width: 13%;
	display: inline-block;
	background-color: #311B92;
	text-align: center;
	padding: 4px 0 13px 0;
	margin-right: -5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.user-icon{
	font-size: 2em;
	color: white;
}
.wrap-user-online{
	background: white;
	width: 68%;
}
.user-online{
	font-size: 1.2em;
	font-weight: 500;
	color: #37474F;
}
.user-online::first-letter{
	text-transform: uppercase;
}
.wrap-play{
	background: #FF5722;
	width: 19%;
	cursor: pointer;
	margin-left: -3px;
}
.play{
	font-size: 1.2em;
	text-align: center;
	color: white;
	font-weight: 500;
}
/* -----STYLE FOR PEOPLE ONLINE ENDS----- */

/* -----STYLE FOR GAME STARTS----- */
#svgStage{
	background: pink;
	border: 1px solid black;
}
/* -----STYLE FOR GAME ENDS----- */






